.coffee-start-now {
    padding: 2% 5%;
  }
  
  .competition-coffee-coffee {
    .cce-content-box .cce-content-container {
      .cce-content-copy p {
        text-align: left;
        width: 100%;
        max-width: 506px;
      }
      align-items: flex-start;
    }
    .cce-equipment-container .cce-equipment-row .cce-coffee-column {
      height: auto;
      .cce-coffee-image-container {
        align-items: center;
        img {
          height: auto;
          max-width: 100%;
        }
      }
      p {
        color: #605352;
        font-size: 20px;
      }
    }
    .competition-coffee-wrapper:not(:nth-child(3)) {
      margin-top: 15px;
    }
  }