.competition-coffee-footer {
	background-color: $cc-dark-brown;
	display: flex;
	padding: 3% 0;

	.competition-coffee-wrapper {
		display: flex; justify-content: space-between;

		.ccf-logo-info {
			align-items: center;
			display: flex;

			img {
				display: block;
				width: 125px;
				height: 125px;
				
			}

			.ccf-info {
				padding-left: 40px;
				

				h3 {
					color: $cc-orange;
					font-family: $font-serif-bold;
					font-size: 28px;
					text-transform: uppercase;
				}

				p {
					color: white;
					font-size: 18px;
					line-height: 1.3;
					padding: 0; max-width: 340px;
				}
			}
		}

		.ccf-contact-social {
			align-items: center;
			display: flex;
			justify-content: space-between;
			flex: 1 0 auto; max-width: 315px;

			.ccf-social {
				display: flex;
				justify-content: space-between;
				padding-right: 10px;
				width: 100px;
				flex: 1 0 auto;

				a {
					background-color: $cc-orange;
					border-radius: 50%;
					color: $cc-brown;
					display: block;
					font-family: $font-serif;
					font-size: 20px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					width: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					text-decoration: none;

					&:hover {
						cursor: pointer;
					}

					&:first-child {
						margin: 0 5px 0 0;
						z-index: 10;
					}
				}
			}

			.ccf-contact {
				color: $cc-orange;
				font-size: 20px;
				width: 210px;
				a{
					color: $cc-orange;
				font-size: 20px;
				text-decoration: none
				}
				span {
					color: white;
				}
			}
		}
	}
}