.competition-coffee-wrapper .ccho-brands-row.ccho-mobile-brands-row {
	display: none !important;
	padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  /* menu bar */
	.competition-coffee-header {
		height: 80px;
		justify-content: center;
		align-items: center;
	}

	.slicknav_menu .slicknav_menutxt {
		display: none;
	}

	.cch-contact {
		display: none !important;
	}

	.cch-logo-container {
		max-width: 200px;
	}

	.cch-logo-container img {
		max-width: 100%;
	}

	.slicknav_menu .slicknav_icon {
		margin: 0;
		width: auto;
	}

	.slicknav_btn {
		position: absolute;
		right: 10px;
		border-radius: 0;
		width: auto;
		top: -62px;
		z-index: 9;
		background-color: #605352;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}

	.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
		margin-top: 0.28em;
	}

	.slicknav_menu {
		padding: 0;
		z-index: 99;
		position: relative;
		margin-top: 80px;
	}

	.slicknav_menu .slicknav_icon-bar {
		width: 30px;
	}

	.slicknav_nav a:hover {
		background-color: #88c392;
		border-radius: 0;
	}

	.slicknav_nav li {
		height: 85px;
		border-radius: 0;
	}

	.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
		-webkit-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		transform: rotate(-45deg);
		position: absolute;
		top: 15px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		left: 5px;
	}

	.slicknav_menu .slicknav_open .slicknav_icon-bar:first-child {
		-webkit-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		transform: rotate(45deg);
		position: absolute;
		top: 20px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		left: 5px;
	}

	.flickity-page-dots {
		display: none;
	}

	.flickity-viewport {
		height: 750px;
	}

	.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
		display: none;
	}

	.competition-coffee-equipment .cce-content-box {
    /* position: static; */
		margin-top: 50px !important;
		bottom: 0;
	}

	.competition-coffee-equipment .cce-content-box .cce-hero-circle {
		position: absolute;
		width: 200px;
		height: 200px;
		padding: 0;
		padding-top: 30px;
		right: 0;
		top: -210px;
	}

	.competition-coffee-equipment .cce-hero img {
		width: 100%;
		height: auto;
	}

	.cca-hero img {
		width: 100%;
		height: 90%;
	}

	.cce-hero, .cca-hero {
		height: auto;
	}

	.competition-coffee-contact form p {
		width: 100%;
		margin-top: 0px;
		text-align: left;
	}

	.competition-coffee-contact .contactform input ~ p, .competition-coffee-contact .contactform textarea ~ p {
		font-size: 12px;
	}

	.competition-coffee-footer .competition-coffee-wrapper, .competition-coffee-footer .ccf-logo-info {
		flex-direction: column;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info .ccf-info {
		margin-bottom: 20px;
		text-align: left;
		width: 80%;
		padding-left: 15px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info .ccf-info p {
		padding: 0;
		font-size: 15px;
	}

	.competition-coffee-contact form {
		padding-top: 20px;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content button {
		font-size: 20px;
		text-transform: uppercase;
	}

	.competition-coffee-footer {
		padding: 15px;
		text-align: center;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social {
		flex-direction: row;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-contact {
		width: 80%;
		text-align: left;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-contact p {
		font-size: 15px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-contact p:last-child {
		margin-top: 20px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-social {
		width: 90px;
		padding: 0;
		justify-content: center;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-contact p:first-child {
		font-weight: bold;
		margin-bottom: 5px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-contact a {
		font-size: 1rem;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-contact p:first-child a {
		font-size: 18px;
	}

	.competition-coffee-equipment .cce-content-box .cce-hero-circle h1, .competition-coffee-about .cca-about-content-box h1 {
		width: 70%;
		font-size: 10px;
		padding: 0;
		margin-bottom: 10px;
	}

	.mt-0 {
		margin-top: 0 !important;
	}

	.mb-0 {
		margin-bottom: 0 !important;
	}

	.boxsh-0 {
		box-shadow: none !important;
	}

	.competition-coffee-equipment .cce-content-box .cce-hero-circle p {
		padding: 0;
		font-size: 10px;
		width: 90%;
	}

	.competition-coffee-header {
		padding: 10px 15px;
		position: absolute;
		top: 0;
	}

	.competition-coffee-header .cch-contact-menu .cch-contact p {
		color: #dab69a;
		font-size: 12px;
		padding-right: 10px;
		font-weight: bold;
	}

	.competition-coffee-equipment .cce-content-box h1 {
		text-align: center;
		font-size: 18px;
	}

	.competition-coffee-equipment .cce-content-box h1:after {
		top: initial;
		bottom: 0;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-social a {
		height: 25px;
		width: 25px;
		font-size: 12px;
		line-height: 25px;
	}

	.competition-coffee-contact form button {
		height: 40px;
		margin-left: auto;
		margin-right: auto;
	}

	.competition-coffee-contact .cce-content-box.competition-coffee-wrapper {
		margin-top: 1rem;
	}
  /* home page */
	.competition-coffee-homepage .main-carousel .carousel-cell {
		flex-direction: column-reverse;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content {
		width: 100%;
		padding: 35px 15px;
		text-align: center;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-image {
		padding: 0px 0 0;
		width: 100%;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--medium, .competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-copy {
		width: 100%;
		padding: 35px 0 35px;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-image img {
		width: 100%;
		max-height: 250px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--medium {
		padding: 0;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content h3 {
		font-size: 15px;
		padding: 0;
		margin-bottom: 15px;
	}

	.flickity-button {
		top: 90%;
		width: 20px;
		height: 20px;
		background: #605352;
	}

	.flickity-button:hover {
		background: #ccc;
	}

	.flickity-button-icon {
		fill: #fff;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--medium .desk-img {
		display: none;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--medium .mob-img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content a {
		font-size: 16px;
		text-transform: uppercase;
		margin-top: 7%;
		line-height: 35px;
		height: 35px;
		width: 130px;
	}

	.competition-coffee-homepage .ccho-cta .ccho-cta-content-container a {
		font-size: 18px;
		padding: 0;
		width: 130px;
		height: 35px;
		margin-top: 30px;
		line-height: 35px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container h1, .competition-coffee-homepage .ccho-brands h1, .competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-copy h1, .competition-coffee-homepage .ccho-green-solutions h1 {
		font-size: 20px;
		text-align: center;
		margin-bottom: 40px;
		padding-top: 40px;
		width: 95%;
		margin: 0 auto 40px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container h1:after, .competition-coffee-homepage .ccho-green-solutions h1:after {
		top: initial;
		bottom: -15px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info {
		flex-direction: row;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info img {
		width: 75px;
		height: 75px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container {
		flex-direction: column;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-copy-steps {
		width: 100%;
		padding: 0 25px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-copy-steps p {
		padding: 0 0 5% !important;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-copy p strong {
		font-size: 15px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-copy h3 {
		font-size: 20px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--large {
		width: 100%;
		padding: 5% 0 10%;
	}

	.competition-coffee-homepage .ccho-brands-container .ccho-brands-row, .competition-coffee-homepage .ccho-brands-container .ccho-equipment-row {
		padding: 0;
	}

	.competition-coffee-homepage .ccho-green-solutions, .competition-coffee-homepage .ccho-content {
		padding: 0;
	}

	.ccho-content.competition-coffee-wrapper .ccho-content-copy-container {
		flex-direction: column-reverse;
	}

	.ccho-content.competition-coffee-wrapper.snacks-details-wrapper .ccho-content-copy-container {
		flex-direction: column-reverse !important;
	}

	.ccho-content.competition-coffee-wrapper.snacks-details-wrapper .ccho-content-copy-container .ccho-content-image--medium {
		padding: 35px 0;
	}

	.competition-coffee-homepage .ccho-green-solutions .ccho-green-solutions-container .ccho-green-solutions-content p {
		width: 80%;
	}

	.competition-coffee-homepage .ccho-green-solutions .ccho-green-solutions-container .ccho-green-solutions-content h3 {
		width: 70%;
	}

	.competition-coffee-homepage .ccho-brands > h1 {
		margin-bottom: 0;
	}

	.competition-coffee-homepage .ccho-green-solutions .ccho-green-solutions-container .ccho-green-solutions-content h3 {
		text-transform: capitalize;
		font-size: 18px;
	}

	.competition-coffee-homepage .ccho-brands-container .ccho-brands-row ul li, .competition-coffee-homepage .ccho-brands-container .ccho-equipment-row ul li {
		flex: 0 33%;
		padding: 5px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-copy p {
		text-align: left;
		font-size: 15px;
		padding: 0 25px;
	}

	.competition-coffee-homepage .ccho-green-solutions .ccho-green-solutions-container {
		flex-direction: column;
	}

	.competition-coffee-homepage .ccho-green-solutions .ccho-green-solutions-container .ccho-green-solutions-content p {
		font-size: 15px;
		padding-bottom: 25px;
	}

	.competition-coffee-homepage .ccho-cta {
		flex-direction: column;
		padding: 0;
	}

	.competition-coffee-homepage .ccho-cta .ccho-cta-content-container {
		width: 100%;
		padding: 15px;
		text-align: center;
	}

	/* .competition-coffee-homepage .ccho-cta .ccho-cta-image {
		width: 100%;
		height: 200px;
	} */

	.competition-coffee-homepage .ccho-cta .ccho-cta-content-container p {
		font-size: 20px;
	}
  /* .competition-coffee-homepage .ccho-green-solutions{padding-top: 35px;} */
  /*     .competition-coffee-homepage .ccho-green-solutions .ccho-green-solutions-container .ccho-green-solutions-content h3{font-size: 14px} */
	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info .ccf-info h3 {
		font-size: 18px;
		text-align: left;
	}

	.competition-coffee-homepage .ccho-cta .ccho-cta-content-container button {
		font-size: 20px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container {
		padding: 0;
	}

	.competition-coffee-homepage .ccho-brands {
		padding: 0 15px;
	}

	.competition-coffee-wrapper .ccho-brands-row, .ccho-equipment-row {
		display: none !important;
	}

	.competition-coffee-wrapper .ccho-brands-row.ccho-mobile-brands-row {
		display: block !important;
		padding: 0;
	}

	.competition-coffee-wrapper .ccho-brands-row.ccho-mobile-brands-row .carousel-cell {
		width: 30%;
		height: 150px;
		margin-right: 10px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ccho-brands-row.ccho-mobile-brands-row.equip-partners .carousel-cell {
		width: 48%;
		height: 150px;
	}

	.competition-coffee-wrapper .ccho-brands-row.ccho-mobile-brands-row .carousel-cell img {
		max-width: 100px;
		height: auto;
		width: 100%;
	}

	.competition-coffee-wrapper .ccho-brands-row.ccho-mobile-brands-row .flickity-viewport {
		max-height: 150px !important;
		height: 150px !important;
	}
  /* about */
	.competition-coffee-about .cca-about-content-box {
    /* position: static; */
		flex-direction: column-reverse;
		margin-top: 50px;
		bottom: 0;
	}

	.competition-coffee-homepage .ccho-cta .ccho-cta-content-container {
		padding: 35px;
		text-align: left;
	}

	.competition-coffee-about .cca-about-content-box .cca-about-content-image img {
		max-width: 150px;
		max-height: 200px;
	}

	.no-rev-colm {
		flex-direction: column !important;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-copy h1 {
		text-align: center;
		margin-bottom: 25px;
		padding: 0;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--medium {
		padding-top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--medium > img {
		width: 100%;
      /* height: auto; */;
	}

	.ccho-content.competition-coffee-wrapper.p-0 {
		padding: 0;
	}

	.competition-coffee-homepage .ccho-content.p-0 .ccho-content-container .ccho-content-copy-container .ccho-content-copy {
		padding-left: 15px;
		padding-right: 15px;
	}

	h1.text-c-m {
		text-align: center !important;
	}

	.competition-coffee-about .cca-about-content-box .cca-hero-circle {
		position: absolute;
		width: 200px;
		height: 200px;
		padding: 0;
		padding-top: 30px;
		right: 0;
		top: -210px;
	}

	.competition-coffee-about .cca-about-content-box .cca-hero-circle h1 {
		width: 70%;
		font-size: 10px;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
	}

	.mt-5 {
		margin-top: 110px !important;
	}

	.competition-coffee-about .cca-about-content-box .cca-hero-circle p {
		font-size: 10px;
	}

	.competition-coffee-about .cca-about-content-box .cca-about-content-container {
		flex-direction: column;
		padding-left: 20px;
	}

	.competition-coffee-about .cca-about-content-box .cca-about-content-copy {
		width: 100%;
	}

	.competition-coffee-about .cca-about-content-box h1 {
		font-size: 27px;
	}

	.competition-coffee-about .cca-our-services {
		margin: 0;
		flex-direction: column-reverse;
	}

	.cca-our-services-content {
		padding-left: 15px;
		padding-top: 30px;
		padding-right: 15px;
	}

	.competition-coffee-about .cca-our-services .cca-our-services-image {
		padding-left: 0;
		width: 100%;
	}
	.competition-coffee-homepage .ccho-brands h1 {
		text-align: center;
	}

	.competition-coffee-about .cca-about-content-box h1 {
		font-size: 1rem;
		padding-left: 0;
		text-align: center;
		margin: 10px auto;
		display: block;
		width: 100%;
	}

	.competition-coffee-about .cca-about-content-box h1:after {
		top: initial;
		text-align: center;
		width: 100%;
		bottom: -7px;
		border-bottom: 2px solid #88c392;
	}

	.competition-coffee-about .cca-about-questions {
		margin: 0;
		padding-left: 25px;
		padding-right: 25px;
	}

	.competition-coffee-about .cca-about-questions ol {
		padding-left: 20px;
		padding-top: 20px;
	}

	.competition-coffee-about .cca-about-questions h1 {
		font-size: 20px;
		padding-top: 30px;
	}

	.competition-coffee-about .cca-about-questions ol li {
		font-size: 17px;
		line-height: 30px;
	}

	.competition-coffee-about .cca-cta {
		flex-direction: column;
	}

	.competition-coffee-about .cca-cta .cca-cta-content-container {
		width: 100%;
		padding: 35px;
	}

	.competition-coffee-about .cca-cta .cca-cta-content-container a {
		font-size: 1.375rem;
		width: 150px;
		height: 35px;
		margin-top: 30px;
		padding: 0;
		line-height: 35px;
	}

	/* .competition-coffee-about .cca-cta .cca-cta-image {
		width: 100%;
		min-height: 200px;
	} */

	.competition-coffee-about .cca-cta .cca-cta-content-container p {
		font-size: 20px;
	}

	.competition-coffee-about .cca-about-content-box .cca-about-content-copy p {
		font-size: 15px;
	}

	.competition-coffee-about .cca-our-services ul li {
		font-size: 15px;
		text-align: left;
		text-indent: unset;
		margin-bottom: 10px;
	}

	.competition-snacks-wrapper .cca-our-services-content ul {
		padding-left: 15px;
	}

	.competition-snacks-wrapper .cca-our-services-content ul li {
		text-indent: unset;
	}

	.competition-coffee-about .cca-our-services h1 {
		display: block;
		text-align: center;
		font-size: 18px;
	}

	.competition-coffee-about .cca-about-questions h1:after {
		top: 81px;
	}
  /* coffee */
	.competition-coffee-equipment .cce-content-box .cce-content-container {
		flex-direction: column;
	}

	.competition-coffee-coffee .cce-content-box .cce-content-container .cce-content-copy p {
		max-width: 100%;
	}

	.competition-coffee-equipment .cce-equipment-container {
		margin-top: 0;
	}

	.competition-coffee-equipment .cce-content-box .cce-content-container .cce-content-image {
		width: 100%;
	}

	.competition-coffee-equipment .cce-content-box .cce-content-container .cce-content-image img {
		max-width: 150px;
		max-height: 200px;
	}

	.competition-coffee-equipment .cce-equipment-container h1 {
		font-size: 20px;
		margin-top: 50px;
		text-align: center;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.cce-equipment-column.cce-coffee-column {
		flex: 0 48%;
		padding: 10px;
	}

	.competition-coffee-equipment .cce-equipment-container:not(:nth-child(3)) {
		margin-top: 0px;
	}

	.competition-coffee-coffee .cce-equipment-container .cce-equipment-row .cce-coffee-column p {
		font-size: 14px;
	}

	.competition-coffee-coffee .cce-coffee .cce-cta-content-container {
		width: 100%;
	}

	.competition-coffee-equipment .cce-cta {
		flex-direction: column;
	}

	.competition-coffee-coffee .cce-coffee .cce-cta-image {
		width: 100%;
	}

	.competition-coffee-equipment .cce-cta .cce-cta-content-container p {
		font-size: 1.25rem;
	}

	.competition-coffee-equipment .cce-cta .cce-cta-content-container a {
		font-size: 1.125rem;
		padding: 0;
		width: 130px;
		height: 35px;
		margin-top: 30px;
		line-height: 2.1875rem;
	}

	.competition-coffee-equipment .cce-equipment-container h1:after {
		width: 80%;
		margin: 0 auto;
		right: 0;
	}

	.competition-coffee-equipment .cce-cta .cce-cta-content-container {
		padding: 35px;
		width: 100%;
	}

	/* .competition-coffee-equipment .cce-cta .cce-cta-image {
		width: 100%;
		height: 200px;
	} */

	.competition-coffee-equipment .cce-content-box .cce-content-container {
		flex-direction: column;
	}

	.competition-coffee-equipment .cce-content-box .cce-content-container .cce-content-copy {
		width: 85%;
	}

	.competition-coffee-equipment .cce-content-box .cce-content-container .cce-content-copy h2 {
		font-size: 22px;
		line-height: 25px;
		padding-top: 20px;
		padding-bottom: 0;
	}

	.competition-coffee-equipment .cce-content-box .cce-content-container .cce-content-copy p {
		padding-bottom: 20px;
		font-size: 0.9375rem;
		margin-top: 10px;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column .cce-equipment-image-container img {
		max-width: 100px;
	}

	.competition-coffee-equipment .cce-content-box .cce-content-container .cce-content-copy p strong {
		padding-bottom: 50px;
		display: block;
	}

	.competition-coffee-equipment .cce-equipment-container {
		margin-top: 50px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.competition-coffee-equipment .cce-equipment-container h1 {
		text-align: center;
		margin-bottom: 50px;
	}

	.competition-coffee-equipment .cce-equipment-container h1:after {
		margin: 0 auto;
		right: 0;
		width: 100%;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row {
		flex-wrap: wrap;
		flex-direction: row;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column {
		flex: 0 48%;
		height: auto;
		max-height: 140px;
		/* justify-content: space-around; */
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column .cce-equipment-image-container {
		flex: 0 48%;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column p {
		font-size: 12px;
		margin-top: 15px;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column p br {
		display: none;
	}

	.competition-coffee-equipment .cce-content-box .cce-hero-circle a {
		margin-top: 15px;
		padding: 3% 5%;
		font-size: 12px;
		width: 100%;
		max-width: 90px;
		height: 24px;
	}
  /* equipment */
  /* snacks */
	.cca-snacks-content-container {
		flex-direction: column;
		margin-top: 20px;
	}

	.competition-coffee-about .cca-our-services-content h1:after {
		top: initial;
		bottom: -7px;
		border-bottom: 2px solid #88c392;
	}

	.competition-coffee-about .cca-about-content-box .cca-about-content-copy {
		width: 100%;
	}

	.competition-coffee-about .cca-about-content-box .cca-about-content-image {
		width: 100%;
		margin-top: 15px;
		margin-bottom: 0px;
	}

	.cca-about-content-image.first-about-content-image, .no-image {
		display: none !important;
	}

	.competition-coffee-about .cca-about-content-box-flex {
		flex-direction: column-reverse;
		padding: 5% 15px;
	}

	.cca-about-content-box.cca-about-content-box-flex.competition-coffee-wrapper.filtered-water {
		margin-top: 3rem;
		box-shadow: 2px -10px 20px 0px rgba(0, 0, 0, 0.12);
	}

	.cca-about-content-box.cca-about-content-box-flex.competition-coffee-wrapper.getting-started {
		box-shadow: 2px 10px 20px 0px rgba(0, 0, 0, 0.12);
		margin-top: 0;
		flex-direction: column;
	}

	.competition-snacks-wrapper .cca-about-content-copy h1 {
		margin-bottom: 20px;
	}

	.competition-coffee-about .cca-about-content-box .cca-about-content-copy p {
		padding: 20px;
		display: block;
		padding-bottom: 30px;
	}

	.competition-coffee-snacks .cce-equipment-container h1 {
		text-align: center;
		font-size: 20px;
	}

	.competition-coffee-snacks .cce-equipment-container .cce-equipment-row {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.competition-coffee-snacks .cce-equipment-container .cce-equipment-row .cce-equipment-column {
		flex: 0 48%;
		padding: 0px;
	}

	.competition-coffee-snacks .cce-equipment-container .cce-equipment-row .cce-equipment-column .cce-equipment-image-container {
		height: auto;
	}

	.cca-about-content-box.cca-snacks-content-box.cca-about-content-box-flex.competition-coffee-wrapper ~ .cca-our-services {
		flex-direction: column;
	}

	.competition-coffee-equipment .cce-equipment-container:not(:nth-child(3)) {
		margin-top: 0;
	}

	.competition-coffee-snacks .cca-snacks-content-box {
		flex-direction: column;
	}

	.cca-snacks-content-box h1 {
		margin-bottom: 20px !important;
	}

	.competition-coffee-about .cca-about-content-box .cca-about-content-copy p {
		padding: 4px;
	}

	.competition-coffee-snacks .competition-snacks-wrapper {
		flex-direction: column-reverse;
		padding: 35px 15px;
		margin-bottom: 35px;
	}

	.cca-our-services-image img {
		width: 100%;
		max-width: 100%;
	}

	.competition-snacks-wrapper .cca-our-services-image img {
		width: 100%;
		max-width: 250px;
	}

	.competition-coffee-about .cca-our-services .cca-our-services-image {
		width: 100%;
		text-align: center;
	}

	.competition-snacks-wrapper .cca-our-services-content {
		width: 100%;
		padding-top: 30px;
	}

	.competition-snacks-wrapper .cca-our-services-content p {
		margin-top: 0px;
		font-size: 15px;
	}

	.competition-snacks-wrapper .cca-our-services-content p ~ br {
		display: none;
	}

	.competition-snacks-wrapper .cca-our-services-content a {
		margin: 5% 0;
	}

	.competition-coffee-about .cca-about-content-box .cca-hero-circle a {
		width: 80px;
		height: 24px;
		font-size: 12px;
		line-height: 1.25rem;
	}
}

@media (max-width: 767px){
  .competition-coffee-about .cca-cta .cca-cta-image, .competition-coffee-homepage .ccho-cta .ccho-cta-image,.cce-cta-image {
    width: 100%!important;
    min-height: 300px;
  }
}
@media (max-width: 479px){
  .competition-coffee-about .cca-cta .cca-cta-image, .competition-coffee-homepage .ccho-cta .ccho-cta-image,.cce-cta-image {
    width: 100%!important;
    min-height: 200px;
  }
}





@media (min-width: 768px) and (max-width: 1023px) {
	.competition-coffee-header {
		padding: 2% 15px;
	}

	.competition-coffee-header .cch-contact-menu .cch-menu ul {
		width: 450px;
	}

	.competition-coffee-header .cch-contact-menu .cch-menu ul a {
		font-size: 18px;
		top: 2px;
	}

	.competition-coffee-snacks .cca-snacks-services h1 {
		margin-bottom: 15px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--medium {
		padding-right: 2%;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .mob-img {
		display: block;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .desk-img {
		display: none;
	}

	.competition-coffee-equipment .cce-cta .cce-cta-content-container {
		padding: 5% 5% 5% 5%;
		width: 50%;
	}

	.competition-coffee-equipment .cce-cta .cce-cta-image {
		width: 50%;
	}

	.competition-coffee-equipment .cce-cta .cce-cta-content-container p {
		font-size: 25px;
	}

	.competition-coffee-homepage .main-carousel .flickity-viewport {
		height: 350px !important;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell {
		height: 100% !important;
	}

	.cch-logo-container {
		max-width: 230px;
	}

	.cch-logo-container img {
		max-width: 100%;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content {
		padding: 2%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content h3 {
		font-size: 1.3rem;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content button {
		margin-top: 15%;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container {
		padding: 5% 15px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-copy p {
		font-size: 15px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-copy h3 {
		font-size: 22px;
	}

	.competition-coffee-homepage .ccho-brands h1 {
		font-size: 25px;
	}

	.competition-coffee-homepage .ccho-green-solutions .ccho-green-solutions-container .ccho-green-solutions-content p {
		font-size: 15px;
	}

	.competition-coffee-homepage .ccho-green-solutions .ccho-green-solutions-container .ccho-green-solutions-content h3 {
		font-size: 18px;
		margin: 8% 0 2% 0;
		min-height: 35px;
	}

	.competition-coffee-homepage .ccho-cta .ccho-cta-content-container {
		background-color: #f3e7de;
		padding: 5% 5% 5% 5%;
		width: 50%;
	}

	.competition-coffee-homepage .ccho-cta .ccho-cta-content-container p {
		font-size: 20px;
	}

	.competition-coffee-homepage .ccho-cta .ccho-cta-image {
		width: 50%;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content p {
		font-size: 18px;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content a {
		font-size: 18px;
		text-align: center;
		margin-top: 25px;
		padding: 5px 15px;
		line-height: 35px;
	}

	.cca-about-content-box.cca-about-content-box-flex.competition-coffee-wrapper.filtered-water {
		margin-top: 5rem;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column .cce-equipment-image-container {
		height: 100px;
	}
  /* about */
	.competition-coffee-about .cca-about-content-box .cca-hero-circle {
		top: -187px;
		width: 300px;
		height: 300px;
	}

	.competition-coffee-about .cca-about-content-box .cca-hero-circle h1 {
		font-size: 16px;
		padding: 18% 5% 3% 5%;
	}

	.competition-coffee-about .cca-about-content-box .cca-hero-circle p strong {
		font-size: 16px;
	}

	.competition-coffee-snacks .cce-equipment-container {
		margin-top: 20px !important;
	}

	.competition-coffee-snacks .cce-equipment-container .cce-equipment-row .cce-coffee-column {
		height: auto;
		flex: 0 23%;
	}

	.competition-coffee-about .cca-about-content-box .cca-about-content-copy p {
		font-size: 15px;
	}

	.competition-coffee-snacks .cce-equipment-container .cce-equipment-row .cce-equipment-column .cce-equipment-image-container {
		max-height: 100px;
	}

	.cca-our-services-image img {
		width: 100%;
	}

	.competition-coffee-about .cca-our-services {
		margin: 0;
	}

	.cca-our-services-content {
		width: 55%;
		padding-left: 15px;
	}

	.cca-our-services-content p ~ br {
		display: none;
	}

	.competition-snacks-wrapper .cca-our-services-content a {
		margin: 5% 0 5%;
	}

	.competition-coffee-about .cca-our-services ul li {
		font-size: 18px;
	}

	.competition-coffee-about .cca-about-questions {
		margin: 0 auto;
		padding: 0 3%;
	}

	.competition-coffee-about .cca-about-questions h1 {
		width: 100%;
		text-align: left;
	}

	.competition-coffee-snacks .cca-snacks-content-box {
		margin-top: 10%;
	}

	.competition-coffee-about .cca-about-content-box h1 {
		font-size: 20px;
	}

	.competition-coffee-about .cca-about-content-box h1:after {
		top: 27px;
	}

	.competition-coffee-about .cca-cta .cca-cta-content-container {
		padding: 5% 5% 5% 3%;
		width: 50%;
	}

	.competition-coffee-about .cca-cta .cca-cta-content-container p {
		font-size: 20px;
	}

	.competition-coffee-about .cca-cta .cca-cta-content-container button {
		margin-bottom: 20px;
	}

	.competition-coffee-about .cca-cta .cca-cta-image {
		width: 50%;
	}
  /* equipment */
	.cce-content-image img {
		width: 100%;
	}

	.competition-coffee-equipment .cce-content-box .cce-content-container .cce-content-copy {
		padding-right: 20px;
	}

	.competition-coffee-equipment .cce-content-box .cce-content-container .cce-content-copy h2 {
		font-size: 25px;
	}

	.competition-coffee-equipment .cce-content-box .cce-content-container .cce-content-copy p strong {
		font-size: 14px;
	}

	/* .competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column .cce-equipment-image-container img {
		max-width: 125px;
		width: 100%;
	} */

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column p {
		font-size: 15px;
	}

	.competition-coffee-equipment .cce-content-box {
		bottom: 30px;
		margin: 3% auto 3% auto !important;
	}

	.cca-about-content-box {
		bottom: 30px !important;
	}

	.cce-content-box .cce-hero-circle {
		width: 350px !important;
		height: 350px !important;
		top: -285px !important;
	}

	.competition-coffee-about .cca-about-content-box .cca-hero-circle {
		width: 350px !important;
		height: 350px !important;
		top: -285px !important;
	}

	.competition-coffee-about .cca-about-content-box .cca-hero-circle h1 {
		font-size: 20px !important;
	}

	.competition-coffee-equipment .cce-content-box .cce-hero-circle h1 {
		font-size: 18px !important;
		padding: 18% 5% 3% 5%;
	}

	.cca-about-content-image img {
		max-width: 100%;
	}

	.competition-coffee-equipment .cce-equipment-container {
		margin: 0;
		padding: 0 15px;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column {
		padding: 10px;
		height: 200px;
	}

	.competition-coffee-equipment .cce-equipment-container:not(:nth-child(3)) {
		margin-top: 40px;
	}

	.competition-coffee-contact form {
		max-width: 100%;
	}

	.competition-coffee-about .cca-about-questions ol {
		padding-left: 0px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-social a {
		font-size: 15px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		width: 30px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-social a:first-child {
		margin: 0 5px 0 0;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-social {
		width: 75px;
	}

	.competition-coffee-equipment .cce-cta .cce-cta-content-container a {
		font-size: 25px;
		margin-top: 50px;
		width: 150px;
		height: 50px;
		line-height: 35px;
	}

	.cca-our-services.competition-coffee-wrapper.cca-snacks-services .cce-equipment-column.cce-coffee-column {
		height: 100px;
	}

	.cca-our-services.competition-coffee-wrapper.cca-snacks-services .cce-equipment-column.cce-coffee-column img {
		max-width: 100% !important;
	}

	.competition-coffee-about .cca-cta .cca-cta-content-container a {
		font-size: 25px;
		margin-top: 50px;
		width: 150px;
		height: 50px;
		line-height: 35px;
	}

	.competition-coffee-homepage .ccho-cta .ccho-cta-content-container a {
		font-size: 25px;
		margin-top: 50px;
		width: 150px;
		height: 50px;
		line-height: 35px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info img {
		height: 75px;
		width: 75px;
	}

	.competition-coffee-footer {
		padding: 2% 3%;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info {
		width: 60%;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info img {
		flex: 0 0 75px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info .ccf-info {
		padding-left: 10px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info .ccf-info h3 {
		font-size: 1.3rem;
		margin-bottom: 10px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info .ccf-info p {
		padding: 0;
		font-size: 15px;
		width: 85%;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social {
		width: 40%;
		max-width: 250px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social p {
		font-size: 1rem;
		line-height: 20px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social .ccf-contact {
		max-width: 170px;
	}

	.competition-coffee-snacks .competition-snacks-wrapper .cca-about-content-copy {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media (min-width: 1024px) and (max-width: 1199px) {
	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column {
		padding: 0 5px;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column .cce-equipment-image-container {
		height: 220px;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column p {
		font-size: 1rem;
	}

	.competition-coffee-equipment .cce-equipment-container .cce-equipment-row .cce-equipment-column p br {
		display: none;
	}

	.competition-coffee-homepage .main-carousel .flickity-viewport {
		height: 400px !important;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell {
		height: 100% !important;
	}

	.competition-coffee-equipment .cce-cta .cce-cta-content-container a {
		font-size: 25px;
		margin-top: 50px;
		width: 150px;
		height: 50px;
		line-height: 35px;
	}

	.competition-coffee-about .cca-cta .cca-cta-content-container a {
		font-size: 25px;
		margin-top: 50px;
		width: 150px;
		height: 50px;
		line-height: 35px;
	}

	.competition-coffee-homepage .ccho-cta .ccho-cta-content-container a {
		font-size: 25px;
		margin-top: 50px;
		width: 150px;
		height: 50px;
		line-height: 35px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--medium {
		padding-right: 0;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--medium .desk-img {
		display: block;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container .ccho-content-copy-container .ccho-content-image--medium .mob-img {
		display: none;
		max-width: 100%;
		height: auto;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content {
		padding: 2%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content h3 {
		font-size: 1.5rem;
	}

	.competition-coffee-header {
		padding: 2% 15px;
	}

	.competition-coffee-homepage .ccho-cta .ccho-cta-content-container {
		padding: 5% 5% 5% 5%;
	}

	.competition-coffee-footer {
		padding: 2% 15px;
	}

	.competition-coffee-homepage .ccho-green-solutions {
		padding: 0 15px;
	}

	.competition-coffee-homepage .ccho-content .ccho-content-container {
		padding: 5% 15px;
	}

	.cce-content-box .cce-hero-circle {
		width: 350px !important;
		height: 350px !important;
		top: -275px !important;
	}

	.competition-coffee-about .cca-about-content-box .cca-hero-circle {
		width: 350px !important;
		height: 350px !important;
		top: -275px !important;
	}

	.competition-coffee-about .cca-about-content-box .cca-hero-circle h1 {
		font-size: 20px !important;
		padding: 18% 5% 3% 5%;
	}

	.competition-coffee-equipment .cce-content-box .cce-hero-circle h1 {
		font-size: 20px !important;
		padding: 18% 5% 3% 5%;
	}

	.competition-coffee-about .cca-cta .cca-cta-content-container {
		background-color: #f3e7de;
		padding: 5% 5% 5% 5%;
	}

	.competition-coffee-equipment .cce-hero img {
		height: auto;
		width: auto;
		max-width: 100%;
	}

	.competition-coffee-equipment .cce-content-box {
		bottom: 35px;
	}

	.competition-coffee-equipment .cce-equipment-container {
		margin: auto;
		padding: 2% 3%;
	}

	.competition-coffee-equipment .cce-cta .cce-cta-content-container {
		background-color: #f3e7de;
		padding: 5% 5% 5% 5%;
	}

	.competition-coffee-equipment .cce-equipment-container:not(:nth-child(3)) {
		margin-top: 0;
	}

	.cca-our-services.competition-coffee-wrapper.cca-snacks-services {
		margin: 0;
	}

	.competition-coffee-snacks .cca-about-content-box {
		bottom: 0;
	}

	.competition-coffee-snacks .cca-our-services {
		margin: 0;
	}

	.competition-coffee-snacks .cca-snacks-content-box {
		margin-top: 2%;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info {
		width: 60%;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social {
		width: 100%;
		max-width: 310px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info img {
		height: 110px;
		width: 110px;
	}

	.competition-coffee-footer {
		padding: 2% 15px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info {
		width: 60%;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info img {
		flex: 0 0 110px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info .ccf-info {
		padding-left: 10px;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-logo-info .ccf-info p {
		padding: 0;
	}

	.competition-coffee-footer .competition-coffee-wrapper .ccf-contact-social {
		width: 40%;
	}

	.cca-our-services.competition-coffee-wrapper.cca-snacks-services .cce-equipment-row .cce-equipment-column .cce-equipment-image-container {
		height: auto;
	}

	.cca-our-services.competition-coffee-wrapper.cca-snacks-services .cce-equipment-container {
		padding: 0% 3%;
	}
}

@media (min-width: 1200px) and (max-width: 1399px) {
	.competition-coffee-homepage .main-carousel .carousel-cell .ccho-carousel-content {
		padding: 8% 8% 0 5%;
	}

	.competition-coffee-equipment .cce-content-box {
		bottom: 125px;
	}

	.competition-coffee-about .cca-about-content-box {
		bottom: 200px;
		margin-top: 0 !important;
	}

	.competition-coffee-about .cca-our-services, .competition-coffee-about .cca-about-questions {
		margin-top: -120px;
	}

	.competition-coffee-snacks .cca-snacks-content-box {
		bottom: 200px;
		margin-top: 150px !important;
	}

	.competition-coffee-contact .cce-content-box.competition-coffee-wrapper {
		margin-top: -7.5rem;
		bottom: inherit;
	}

	.competition-coffee-equipment .cce-equipment-container {
		margin: -75px auto 0 auto;
	}
}