<footer class="competition-coffee-footer">
	<div class="competition-coffee-wrapper">
		<div class="ccf-logo-info">
			<img src="{{root}}static/images/footer-logo.png" alt="">
			<div class="ccf-info">
				<h3>competition is good</h3>
				<p>From our humble beginnings in 1977, Competition Coffee has been dedicated to providing superior Office Coffee, Water & Vending Service for your workplace.</p>
			</div>
		</div>
		<div class="ccf-contact-social">
			<div class="ccf-social">
				<a href="#">
					<i class="fab fa-linkedin-in"></i>
				</a>
				<a href="#">
					<i class="fab fa-facebook-f"></i>
				</a>
			</div>
			<div class="ccf-contact">
				<p><u>Contact Us</u></p>
				<p>416-429-6111</p>
				<p>1111 Finch Avenue West</p>
				<p>Unit #43</p>
				<p>Toronto, Ontario M3J 2E5</p>
				<p><span>Copyright 2018</span></p>
			</div>
		</div>
	</div>
</footer>