<header class="competition-coffee-header competition-coffee-wrapper">
	<div class="cch-logo-container">
			<a href="index.html">		
				<img src="{{root}}static/images/logo.png" alt="">
			</a>
	</div>
	<div class="cch-contact-menu">
		<div class="cch-contact">
			<p>416-429-6111</p>
			<i class="fas fa-envelope"></i>
		</div>
		<div class="cch-menu">
			<nav  id="menu">
				<ul>
					<li><a href="/index.html">Home</a></li>					
					<li><a href="/about.html">About</a></li>
					<li><a href="/equipment.html">Equipment</a></li>
					<li><a href="/coffee.html">Coffee</a></li>
					<li><a href="/snacks.html">Snacks</a></li>
					<li><a href="/contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>