<header class="competition-coffee-header competition-coffee-wrapper">
	<div class="cch-logo-container">
		<img src="{{root}}static/images/logo.png" alt="">
	</div>
	<div class="cch-contact-menu">
		<div class="cch-contact">
			<p>416-429-6111</p>
			<i class="fas fa-envelope"></i>
		</div>
		<div class="cch-menu">
			<nav>
				<ul>
					<a href="/index.html">
						<li>Home</li>
					</a>
					<a href="/about.html">
						<li>About</li>
					</a>
					<a href="/equipment.html">
						<li>Equipment</li>
					</a>
					<a href="/coffee.html">
						<li>Coffee</li>
					</a>
					<a href="snacks.html">
						<li>Snacks</li>
					</a>
					<a href="contact.html">
						<li>Contact</li>
					</a>
				</ul>
			</nav>
		</div>
	</div>
</header>